*{
    font-weight: 100;
    font-size: 30px;
}

h2{
    background-color: red;
    display: inline-block;
    padding: 20px  30px;
    height: 100px;
    width: 100px;
    box-sizing: content-box;
    text-align: center;
    margin: 20px 10px;
    border-radius: 2em;
    border: 10px solid blue;
}