div{
    width: 120px;
    height: 120;
    display: block;
    background: yellow;
}

.caja1 {
    background-color: orange;
}

.caja2 {
    background-color: green;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
}

.caja3 {
    background-color: lightblue;
    position: relative;
}

.caja4 {
    background-color: yellow;
}
